## Importing necessities

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

import pickle

## Reading data

In [2]:
df = pd.read_csv('../data/face_dectection_data.csv')
df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,video_id,views,subscriber_count,thumbnail,people_num,age,width,height,emotion,gender
0,8e7GcsDEKEE,30038.0,98400,https://i.ytimg.com/vi/8e7GcsDEKEE/default.jpg,2.0,23.0,0.209781,0.265995,CALM,Male
1,FYoDak3VfF4,29102.0,98400,https://i.ytimg.com/vi/FYoDak3VfF4/default.jpg,1.0,9.0,0.209445,0.350828,SURPRISED,Male
2,FuTTOzwWo58,25022.0,98400,https://i.ytimg.com/vi/FuTTOzwWo58/default.jpg,1.0,18.0,0.210325,0.342480,CALM,Male
3,-48XAC_GDjk,49551.0,98400,https://i.ytimg.com/vi/-48XAC_GDjk/default.jpg,1.0,22.0,0.143989,0.230920,CALM,Male
4,mhehORE9WNA,74348.0,98400,https://i.ytimg.com/vi/mhehORE9WNA/default.jpg,2.0,5.0,0.136056,0.214099,CALM,Male
...,...,...,...,...,...,...,...,...,...,...
90769,K-sH6E9YeTw,137922.0,112000,https://i.ytimg.com/vi/K-sH6E9YeTw/default.jpg,-1.0,-1.0,-1.000000,-1.000000,NaN,NaN
90770,ucEs84amVm8,153005.0,112000,https://i.ytimg.com/vi/ucEs84amVm8/default.jpg,-1.0,-1.0,-1.000000,-1.000000,NaN,NaN
90771,jSK3H-dFfE0,151071.0,112000,https://i.ytimg.com/vi/jSK3H-dFfE0/default.jpg,-1.0,-1.0,-1.000000,-1.000000,NaN,NaN
90772,OEWk-sZG5j0,177515.0,112000,https://i.ytimg.com/vi/OEWk-sZG5j0/default.jpg,-1.0,-1.0,-1.000000,-1.000000,NaN,NaN
90773,LJ8c4TqerXg,78138.0,112000,https://i.ytimg.com/vi/LJ8c4TqerXg/default.jpg,-1.0,-1.0,-1.000000,-1.000000,NaN,NaN

## Preprocessing

In [3]:
# 데이터 수집한 10000개에 대해서만
df = df.head(10000)
df

,video_id,views,subscriber_count,thumbnail,people_num,age,width,height,emotion,gender
0,8e7GcsDEKEE,30038.0,98400,https://i.ytimg.com/vi/8e7GcsDEKEE/default.jpg,2.0,23.0,0.209781,0.265995,CALM,Male
1,FYoDak3VfF4,29102.0,98400,https://i.ytimg.com/vi/FYoDak3VfF4/default.jpg,1.0,9.0,0.209445,0.350828,SURPRISED,Male
2,FuTTOzwWo58,25022.0,98400,https://i.ytimg.com/vi/FuTTOzwWo58/default.jpg,1.0,18.0,0.210325,0.342480,CALM,Male
3,-48XAC_GDjk,49551.0,98400,https://i.ytimg.com/vi/-48XAC_GDjk/default.jpg,1.0,22.0,0.143989,0.230920,CALM,Male
4,mhehORE9WNA,74348.0,98400,https://i.ytimg.com/vi/mhehORE9WNA/default.jpg,2.0,5.0,0.136056,0.214099,CALM,Male
...,...,...,...,...,...,...,...,...,...,...
9995,iJx1xg8rORg,42157.0,281000,https://i.ytimg.com/vi/iJx1xg8rORg/default.jpg,3.0,17.0,0.184871,0.163198,CALM,Female
9996,Zugip70jYgA,68336.0,281000,https://i.ytimg.com/vi/Zugip70jYgA/default.jpg,0.0,-1.0,-1.000000,-1.000000,NaN,NaN
9997,WmISC6MzGRc,83965.0,281000,https://i.ytimg.com/vi/WmISC6MzGRc/default.jpg,1.0,18.0,0.128987,0.234519,CALM,Female
9998,29490M-dxXk,64186.0,281000,https://i.ytimg.com/vi/29490M-dxXk/default.jpg,0.0,-1.0,-1.000000,-1.000000,NaN,NaN
9999,uwqm0V7-EFs,82051.0,281000,https://i.ytimg.com/vi/uwqm0V7-EFs/default.jpg,0.0,-1.0,-1.000000,-1.000000,NaN,NaN

In [4]:
# 결측값 있는 행 제거
df = df.dropna(subset=['people_num'])
df

,video_id,views,subscriber_count,thumbnail,people_num,age,width,height,emotion,gender
0,8e7GcsDEKEE,30038.0,98400,https://i.ytimg.com/vi/8e7GcsDEKEE/default.jpg,2.0,23.0,0.209781,0.265995,CALM,Male
1,FYoDak3VfF4,29102.0,98400,https://i.ytimg.com/vi/FYoDak3VfF4/default.jpg,1.0,9.0,0.209445,0.350828,SURPRISED,Male
2,FuTTOzwWo58,25022.0,98400,https://i.ytimg.com/vi/FuTTOzwWo58/default.jpg,1.0,18.0,0.210325,0.342480,CALM,Male
3,-48XAC_GDjk,49551.0,98400,https://i.ytimg.com/vi/-48XAC_GDjk/default.jpg,1.0,22.0,0.143989,0.230920,CALM,Male
4,mhehORE9WNA,74348.0,98400,https://i.ytimg.com/vi/mhehORE9WNA/default.jpg,2.0,5.0,0.136056,0.214099,CALM,Male
...,...,...,...,...,...,...,...,...,...,...
9995,iJx1xg8rORg,42157.0,281000,https://i.ytimg.com/vi/iJx1xg8rORg/default.jpg,3.0,17.0,0.184871,0.163198,CALM,Female
9996,Zugip70jYgA,68336.0,281000,https://i.ytimg.com/vi/Zugip70jYgA/default.jpg,0.0,-1.0,-1.000000,-1.000000,NaN,NaN
9997,WmISC6MzGRc,83965.0,281000,https://i.ytimg.com/vi/WmISC6MzGRc/default.jpg,1.0,18.0,0.128987,0.234519,CALM,Female
9998,29490M-dxXk,64186.0,281000,https://i.ytimg.com/vi/29490M-dxXk/default.jpg,0.0,-1.0,-1.000000,-1.000000,NaN,NaN
9999,uwqm0V7-EFs,82051.0,281000,https://i.ytimg.com/vi/uwqm0V7-EFs/default.jpg,0.0,-1.0,-1.000000,-1.000000,NaN,NaN

In [5]:
## Drop unnecessary columns
df = df.drop(columns = ['video_id', 'thumbnail'])
df

,views,subscriber_count,people_num,age,width,height,emotion,gender
0,30038.0,98400,2.0,23.0,0.209781,0.265995,CALM,Male
1,29102.0,98400,1.0,9.0,0.209445,0.350828,SURPRISED,Male
2,25022.0,98400,1.0,18.0,0.210325,0.342480,CALM,Male
3,49551.0,98400,1.0,22.0,0.143989,0.230920,CALM,Male
4,74348.0,98400,2.0,5.0,0.136056,0.214099,CALM,Male
...,...,...,...,...,...,...,...,...
9995,42157.0,281000,3.0,17.0,0.184871,0.163198,CALM,Female
9996,68336.0,281000,0.0,-1.0,-1.000000,-1.000000,NaN,NaN
9997,83965.0,281000,1.0,18.0,0.128987,0.234519,CALM,Female
9998,64186.0,281000,0.0,-1.0,-1.000000,-1.000000,NaN,NaN
9999,82051.0,281000,0.0,-1.0,-1.000000,-1.000000,NaN,NaN

In [6]:
# emotion과 gender을 원핫인코딩

df = pd.merge(df, pd.get_dummies(df['emotion'], dummy_na=True), left_index=True, right_index=True, how='left')
df = pd.merge(df, pd.get_dummies(df['gender'], dummy_na=True), left_index=True, right_index=True, how='left')

df = df.drop(columns = ['emotion', 'gender'])

df

,views,subscriber_count,people_num,age,width,height,ANGRY,CALM,CONFUSED,DISGUSTED,FEAR,HAPPY,SAD,SURPRISED,nan_x,Female,Male,nan_y
0,30038.0,98400,2.0,23.0,0.209781,0.265995,0,1,0,0,0,0,0,0,0,0,1,0
1,29102.0,98400,1.0,9.0,0.209445,0.350828,0,0,0,0,0,0,0,1,0,0,1,0
2,25022.0,98400,1.0,18.0,0.210325,0.342480,0,1,0,0,0,0,0,0,0,0,1,0
3,49551.0,98400,1.0,22.0,0.143989,0.230920,0,1,0,0,0,0,0,0,0,0,1,0
4,74348.0,98400,2.0,5.0,0.136056,0.214099,0,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,42157.0,281000,3.0,17.0,0.184871,0.163198,0,1,0,0,0,0,0,0,0,1,0,0
9996,68336.0,281000,0.0,-1.0,-1.000000,-1.000000,0,0,0,0,0,0,0,0,1,0,0,1
9997,83965.0,281000,1.0,18.0,0.128987,0.234519,0,1,0,0,0,0,0,0,0,1,0,0
9998,64186.0,281000,0.0,-1.0,-1.000000,-1.000000,0,0,0,0,0,0,0,0,1,0,0,1
9999,82051.0,281000,0.0,-1.0,-1.000000,-1.000000,0,0,0,0,0,0,0,0,1,0,0,1

## Train-Test Splitting

In [7]:
X_data = df.drop(columns = ['views'])
y_data = df['views']

train_X, test_X, train_y, test_y = train_test_split(X_data, y_data, train_size = 0.80)

## Modeling

In [8]:
model = RandomForestRegressor()
model.fit(train_X, train_y)

# validation
print(model.score(train_X, train_y))
print(model.score(test_X, test_y))

0.8109437500723102
0.12353421025159306

In [9]:
# save model
# rf_model = pickle.dumps(model)